html{
    font-family: 'Poppins', sans-serif;
    font-size: 68%; 
    
}
#body{
    width: 100%;
    height: 100%;
    position: relative;
}

#header{
    width: 1085px;
    height: 90px;
    display: flex;
    justify-content: start;
}
.project-container{
    width: 1085px;
    height: 550px;
    border: .6px solid #151515;
    border-radius: 40px;
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: center;
    
}

.left_col,
.center_col{
    width: 354px;
    height: 540px;
    background: #0F0F0F;
}
.left_col,
.center_col{
        border-radius: 35px;

}


.upper_right_ui{
    width: 354px;
    height: 70px;
    display: flex;
    flex-direction: row;

}
.lower_right_ui{
    width: 354px;
    height: 470px;
    background: #0F0F0F;
    border-radius: 0px 35px 35px 35px;
}
.right_ui_01{
    width: 284px;
    height: 70px;
    background: #0F0F0F;
    border-radius: 35px 35px 0px 0px;
}
.right_ui_02{
    width: 70px;
    height: 70px;
    background: #0F0F0F;
    border-radius: 0px 35px 0px 0px;
}
.seg{
    width: 100%;
    height: 100%;
    background: #080808;
    border-radius: 0px 35px 0px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cir_btn{
    width: 52px;
    height: 52px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.right-arr{
    width: 30px;
    height: 30px;
}
