/* Styles for phones */
@media only screen and (max-width: 600px) {
    body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin: 0 auto; 
     }

     main{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
     }
     .wrapper{
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .container{
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         margin-top: 20px;
     }
     .top-row{
      display: flex;
      flex-direction: column;
      gap: 20px;
  }
     header{
        width: 372px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        z-index: 5;
    } 
    .navbar{
       width: 100%;
       display: flex;
       align-items: center;
    }
    .footer-wrap{
      width: 100%;
      height: 75px;
      display: flex;
      align-items: center;
  
  }
  
  .buy-me{
     display: none;
  }

 .header-liner,
 .footer-liner{
   width: 100%;
   margin-left: 15px;
 }

 /*project-section*/
 .project-container{
   width: 360px;
   height: 100%;
   padding: 6px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   border-radius: 40px;
   flex-direction: column;
 }
 
#header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 15px;
}

}


 




/* Styles for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body{
    width: 100%;
    height: 100%;
    margin: 0 auto; 
 }
  .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .right-column{
    width: 730px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .bottom-row{
    height: 100%;
  }
  .bottom-row-r{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }

 
.navbar{
  display: flex;
  align-items: center;
}
.footer-wrap{
 width: 720px;
 height: 75px;
 display: flex;
 align-items: center;

}
header{
  width: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  gap: 50px; 
}

 .header-liner,
 .footer-liner{
   width: 720px;
 }
/* project section */
.project-container{
   width: 730px;
   padding: 6px;
   height: 100%;
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   gap: 20px;
   border-radius: 40px;
 }
 #header{
  width: 720px;
 }
 

}

 
/*

@media only screen and (min-width: 1025px) {
    body{
        width: 100%;
        height: 100%;
        margin: 0 auto; 
     }
     .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
      }
      .wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
      .right-column{
        width: 730px;
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
      .bottom-row{
        height: 100%;
      }
      .bottom-row-r{
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      main{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       }  
      }

 */
