/* Styles for phones */
@media (max-width: 600px) {
    body{
        width: 500px;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        
     }
     .wrapper{
        width: 450px;
         padding: 0;
         margin: 0 auto;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .container{
         width: 100%;
         padding: 0;
         margin: 0 auto;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         margin-top: 20px;
     }
     header{
        position: fixed;
        top: 10px;
        right: -30px;
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        z-index: 5;
        flex-direction: row;
        justify-content: space-between;
    } 
    footer{
      width: 100%;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
  }
}

 




/* Styles for tablets 
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Add your CSS styles for tablets here */


/* Styles for PCs 
@media only screen and (min-width: 1025px) {
  /* Add your CSS styles for PCs here */
